@import url(./commom.css);

/* var */
:root{
    --mainColor:#fdd000;
    --mainTextColor:#1c1c1b;
}

.inner{
    max-width: 1280px;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0, 0.1); */
}
header{
    
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    >.inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 200px;
        img{
            width: 100%;
        }
    }
    .main-menu{
        display: flex;
        
        &:hover{
            .depth1{
                display: block;
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 200px;
                top: 100px;
                left: 0;
                background-color:gray;
                z-index: -1;
                opacity: 0.2;
            }
        }
        >li{
            position: relative;
            text-align: center;
            &:hover, &:hover .depth1{
                background-color: var(--mainColor);
            }
            &:hover{
                .depth1{
                    /* border-top: 1px solid var(--mainTextColor); */
                    &:after{
                        width: 80%;
                    }
                }
            }
            >a{
                display: block;
                width: 115px;
                font-size: 18px;
                font-weight: 500;
                color: var(--mainTextColor);
                line-height: 100px;
            }
            .depth1{
                display: none;
                width: 100%;
                position: absolute;
                line-height: 2;
                padding: 30px 0 20px;
                text-align: center;
                height: 200px;
                box-sizing: border-box;
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 1px;
                    opacity: 0.5;
                    background-color:var(--mainTextColor);
                    left: 50%;
                    top:0;
                    transition: 0.3s;
                    /* 내 자신의 너비의 절반 */
                    transform: translateX(-50%);
                }
            }
        }
        
    }
    
}
.sns-list{
    display: flex;
    gap: 10px;
    >li{
        >a{
            display: block;
            width: 39px;
            height: 39px;
            border: 2px solid var(--mainTextColor);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            &:hover{
                background-color: var(--mainColor);
                border-color:transparent;
            }
        }
    }
}
main{
    z-index: 0;
    min-height: 500px;
}
footer{
    .footer-top{
        padding: 20px;
        background-color: var(--mainColor);
        .util-menu{
            display: flex;
            gap: 20px;
            >li{
                >a{
                    font-weight: 600;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    .footer-bottom{
        padding: 60px 0;
        background-color: var(--mainTextColor);
        color: #aaa;
        >.inner{
            display: flex;
            justify-content: space-between;
            .footer-bottom-left{
                div{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    >img{
                        max-width: 180px;
                    }
                }
                address{
                    margin-top: 20px;
                    line-height: 2;
                    font-size: 14px;
                    p{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }
                    strong{
                        color: #fff;
                    }
                }
            }
            .footer-bottom-right{
                >.sitemap{
                    display: flex;
                    gap: 30px;
                    justify-content: space-between;
                    li>a{
                        color: #fff;
                    }
                    .depth1{
                        display: block;
                        margin-top: 20px;
                        line-height: 2;
                        font-size: 14px;
                        box-sizing: border-box;
                        a{
                            color: #aaa;
                        }
                    }
                }
            }
        }
    }
}